body {
    background-image: url("./grain.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.paints {
    border-radius: 80px;
}

#red {
    width: 150px;
    height: 150px;
    background-image: url("./jonahred.png");
    background-size: 100%;
    border: 2px;
}

#green {
    width: 150px;
    height: 150px;
    background-image: url("./jonahgreen.jpg");
    background-size: 100%;
}

#blue {
    width: 150px;
    height: 150px;
    background-image: url("./jonahblue.jpg");
    background-size: 100%;
}

.grid-container {
    width: 80%;
    height: 60%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -40%);
}

.grid-item {
    box-sizing: border-box;
    width: 28%;
    height: 30%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 50%;
}